<a href="https://colab.research.google.com/github/gorerohit01/DataScience/blob/main/2_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TYPE** **CASTING**

We can convert one type value to another type. This conversion is called Typecasting or Type coersion.

֍ The following are various inbuilt functions for type casting.

int()

float()

complex()

bool()

str()

֍ int():

We can use this function to convert values from other types to int

In [2]:
print(int(34.32))
print(int(454+544j))

34

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [3]:
print(int(False))
print("425")

0
425

 float(): We can use float() function to convert other type values to float type. (We can convert string value containing letters into float but if string value is number, we can convert it into a string)

In [4]:
print(float(4535))
print(float(False))
print(float("123Test"))

4535.0
0.0

ValueError: could not convert string to float: '123Test'

In [5]:
print(float(12+32j))

TypeError: float() argument must be a string or a real number, not 'complex'

complex(): We can use complex() function to convert other types to complex type.

Form-1: complex(x)

We can use this function to convert x into complex number with real part x and imaginary part 0.

In [12]:
print(complex(667.78))
print(complex(True))
print(complex(False))
print(complex(323))
print(complex("Test123"))

(667.78+0j)
(1+0j)
0j
(323+0j)

ValueError: complex() arg is a malformed string

Form-2: complex(x,y)

We can use this method to convert x and y into complex number such that x will be real part and y will be imaginary part.

Eg: complex(10, -2)  10-2j

complex(True, False)  1+0j

֍ bool(): We can use this function to convert other type values to bool type.

If the value is zero the result is false otherwise result will be true

In [15]:
print(bool(667.78))
print(bool(0))
print(bool(1))
print(bool(-12))
print(bool("Test123"))
print(bool(1+12j))

True
False
True
True
True
True

֍ str(): We can use this method to convert other type values to str type.

In [18]:
print(str(667.78))
print(str(0))
print(str(1))
print(str(-12))
print(str("Test123"))
print(str(1+12j))

667.78
0
1
-12
Test123
(1+12j)